{% extends "base.html"%}
{% load static%}
{% block title %}"Отель сайт"{% endblock title %}
{% block body %}
{% include "header.html" %}
<div style="margin:20px;max-width:100%">
    <div class="d-flex" style="margin:20px;gap:20px">
        <div>
            <h3>Видео нашего отеля:</h3>
            <video  height="400px" controls muted autoplay loop>
              <source src="media/about.mp4" type="video/mp4" >
              Ваш браузер не поддерживает тег video.
            </video>
        </div>
        <div>
            <h3>Наше расположение:</h3>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d150506.04233617775!2d27.428564730021744!3d53.88452714444662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbcfd35b1e6ad3%3A0xb61b853ddb570d9!2z0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1694670617883!5m2!1sru!2sby" width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div>
            <h3>Звуки отеля:</h3>
            <audio controls>
                <source src="media/hotel_sounds.mp3">
                <p>Ваш браузер не поддерживает аудиофайл.</p>
            </audio>
        </div>
        </div>
<div class="card" >
    <div class="card-header display-6"><img src="{% static 'favicon.png' %}" alt="Лого сайта не загружено" style="width:5%">Информация о компании </div>
    <div class="card-body">
    <pre style="white-space:pre-wrap">
    Наша компания самая лучшая. Мы гордимся собой и своим отелем. Наши комнаты самые лучшие
    История отеля:
        1918 г. - Открытие отеля
        1939 г. - В нашем отеле отеле побывал важный немецкий чиновник
        1986 г. - В отеле взорвалась бомба
        2000 г. - Реставрация здания
        2023 г. - Получена награда за самую смешную историю отеля
    </pre>
        <blockquote cite="https://citaty.info/topic/gostinicy">
            <p>— Я знаю всё, что происходит в моих отелях.</p>
            <p>— Значит, мне придётся вернуть эти полотенца.</p>
        </blockquote>
        <cite>Одиннадцать друзей Оушена (Ocean's Eleven)</cite>
        <br><br>
        <p>
            Это четверо<wbr>стишие про отель очень-длинное-длинное-длинное-длинное-длинное-длинное<wbr>-длинное-длинное-длинное HИИОМТПЛАБО<wbr>ПАРМБЕТЖЕЛБЕ<wbr>ТРАБСБОРМОHИМОHКОH-ОТДТЕХСТР<wbr>ОМОHТ<br>
            И про пере<wbr>нос строки очень-длинное-длинное-длинное-длинное-длинное-длинное-длинное-<wbr>длинное-длинное<br>
            Который бывает по<wbr>тен<wbr>ци<wbr>альным очень-длинное-длинное-длинное-длинное-длинное-длинное-длинное<wbr>-длинное-длинное<br>
            Либо нет
        </p>
    </div>
</div>
    <br>
    <table class="table">
        <tr class="table-secondary">
            <td>Полное название организации</td>
            <td>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ОТЕЛЬ САЙТ"</td>
        </tr>
        <tr class="table-secondary">
            <td>Английское название</td>
            <td>OOO "HOTEL SITE"</td>
        </tr>
        <tr class="table-secondary">
            <td>Адрес</td>
            <td>ул. Простоквашино 4</td>
        </tr>
        <tr class="table-secondary">
            <td>Уставный капитал</td>
            <td>100500 BYN</td>
        </tr>
        <tr class="table-secondary">
            <td><abbr title="Общегосударственный классификатор форм собственности">ОКФС</abbr></td>
            <td>Частная собственность</td>
        </tr>
        <tr class="table-secondary">
            <td><abbr title="Общегосударственный классификатор организационно-правовых форм">ОКОПФ</abbr></td>
            <td>Общества с ограниченной ответственностью</td>
        </tr>
        <tr class="table-secondary">
            <td><abbr title="Общегосударственный классификатор органов государственной власти и управления">ОКОГУ</abbr></td>
            <td>Организации, учрежденные юридическими лицами или гражданами, или юридическими лицами и гражданами совместно</td>
        </tr>
    </table>
    <div class="card" >
        <div class="card-header display-6">Сертификат</div>
        <div class="card-body">
            <pre style="white-space:pre-wrap">
            Реальный сертификат подписанный во всех странах мира
            Содержимое не подлежит изменению
            Цифровая подпись: sdfls@lsdf_;)
            Реальный сертификат
            </pre>
        </div>
    </div>

    <div class="card" >
        <div class="card-header display-6">Как написать hello world?</div>
            <p>
                <code>
                    hello_world = "Hello World!"<br>
                    print(hello_world)<br>
                </code>
            </p>
          <p><var>hello_world</var> хранит в себе строку</p>
          <p>Результат: <samp>Hello World!</samp></p>
          <p>Если ввести в консоль <kbd>Hello World!</kbd> ничего не произойдет, т.к ввод в консоль не поддерживается
          </p>
        </div>
    </div>
{% include "footer.html" %}
{% endblock body %}