{% extends "base.html"%}
{% block title %}Ваши брони{% endblock title %}

{% block body %}
{% include "header.html" %}
<h1 style="margin: 20px">Ваши брони:</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Комната</th>
      <th scope="col">Дата въезда</th>
      <th scope="col">Дата выезда</th>
      <th scope="col">Стоимость</th>
    </tr>
  </thead>
  <tbody>
    {% for booking in bookings %}
    <tr>
      <td ><a href="/rooms/{{booking.room.id}}"><img src="{{booking.room.photo.url}}"></a></td>
      <td>{{booking.entry_date|date:"d.m.Y"}}</td>
      <td>{{booking.departure_date|date:"d.m.Y"}}</td>
      <td>{{booking.price}}BYN</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% include "footer.html" %}
{%endblock%}