{% extends "base.html"%}
{% block title %}Бронирование{% endblock title %}

{% block body %}
{% include "header.html" %}
<div class="card bg-secondary mb-3 middle-of-screen" style="width: 30rem;">
    <div class="card-header display-6">Бронирование</div>
    <div class="card-body">
        <form method="post" action="/booking/{{room.id}}/">
          {% csrf_token %}
            <p>Стоимость: {{room.price}} BYN/день</p>
          <label>Дата брони:</label>
            <div class="input-group">
                <input type="date" name="start_date" class="form-control me-sm-2" required value="{{room.free_date}}" min="{{min_date|date:'Y-m-d'}}" max="{{max_date|date:'Y-m-d'}}">

                <input type="date" name="end_date" class="form-control me-sm-2" required value="{{room.free_date}}" min="{{min_date|date:'Y-m-d'}}">
            </div>
            <br>
        <button type="submit" class="btn btn-dark">Подтвердить</button>
            <div style="color:red;">
            {%if error%}
                Укажите корректный промежуток брони
            {% endif%}
            </div>
  </form>
</div>
    </div>
{% include "footer.html" %}
{%endblock%}