<!DOCTYPE html>
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script>
        const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
        document.cookie = "django_timezone=" + timezone;
    </script>
</head>
<body>
  <pre>



  </pre>
  <footer style="position:fixed;bottom:0;width:100%">
      <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="light">
          <p>Текущее время: {% current_time "%d/%m/%Y %H:%M" %}, Таймзона: {% user_timezone %}</p>
          <p>&nbsp&nbsp&nbsp&nbsp Партнеры:
              <a href="https://twitch.tv"><i class="bi bi-twitch"></i></a>
              <a href="https://twitter.com"><i class="bi bi-twitter"></i></a>
              <a href="https://www.skype.com"><i class="bi bi-skype"></i></a>
              <a href="https://apple.com"><i class="bi bi-apple"></i></a>
          </p>
          <p>
              &nbsp&nbsp&nbsp&nbsp<a class="text-secondary" href="/terms-of-service">Политика конфиденциальности</a>
          </p>
          <p>
              &nbsp&nbsp&nbsp&nbsp<a class="text-secondary" href="/vacancies">Вакансии</a>
          </p>
          <p>
              &nbsp&nbsp&nbsp&nbsp<a class="text-secondary" href="/promo">Промокоды</a>
          </p>
          <p>
              &nbsp&nbsp&nbsp&nbsp<a class="text-secondary" href="/FAQ">FAQ</a>
          </p>
          <p>
              &nbsp&nbsp&nbsp&nbsp<a class="text-secondary" href="/about">О компании</a>
          </p>
          <p>
              &nbsp&nbsp&nbsp&nbsp<a class="text-secondary" href="/contacts">Контакты</a>
          </p>
     </nav>
  </footer>
</body>
</html>