{% extends "base.html"%}
{% block title %}Логин{% endblock title %}

{% block body %}
{% include "header.html" %}
<div class="card bg-secondary mb-3 middle-of-screen" style="width: 30rem;">
    <div class="card-header display-6" >Войти в кабинет</div>
    <div class="card-body">
      <form method="post" action="login">
          {% csrf_token %}
          <label>email:</label>
          <input type="email" id="email" name="email" class="form-control me-sm-2" placeholder="email" value="{{email}}">
          <label>Пароль:</label>
          <input type="password" id="password" name="password" class="form-control me-sm-2" placeholder="Пароль"><br>
          <button type="submit" class="btn btn-dark">Войти</button>
          {%if error%}
          <span style="color:red;">Неверный логин или пароль</span>
          {{errors}}
          {% endif%}
      </form>
        <a href="signup" class="text-white">Зарегистрироваться</a>
    </div>
</div>
{% include "footer.html" %}
{%endblock%}