{% extends "base.html"%}
{% block title %}"Отель сайт"{% endblock title %}
{% block body %}
{% include "header.html" %}
{%if articles %}
    {%for article in articles%}
    <div class="card" style="margin:20px;max-width:100%">
        <div class="card-header display-6">{{article.heading}} </div>
        <div class="card-body">
            {{article.short_data}}
            <a href="article/{{article.id}}"><button class="btn btn-secondary">Читать далее</button></a>
            <br>
            {{article.created_at|date:"Y-m-d"}}
        </div>
    </div>
    {%endfor%}
{%else%}
 Новостей нет
{%endif%}
{% include "footer.html" %}
{% endblock body %}