{% extends "base.html"%}
{% block title %}"Отель сайт"{% endblock title %}

{% block body %}
{% include "header.html" %}

<a href="/account"><button class="btn btn-secondary">Оставить отзыв</button></a>
<h2>Отзывы</h2>
{% if reviews%}
<table class="table table-hover">
  <thead>
    <tr>
      <th id="user">Пользователь</th>
      <th id="review">Отзыв</th>
      <th id="rating">Оценка</th>
      <th id="date">Дата</th>
    </tr>
  </thead>
  <tbody>
   {%for review in reviews%}
    <tr>
         <section itemscope itemtype="http://schema.org/Review">
              <td headers="client" itemprop="author">{{review.client}}</td>
              <td headers="data" itemprop="comment">{{review.data}}</td>
              <td headers="rating" itemprop="reviewRating">
                  {%if review.rating == 1%}★☆☆☆☆
                  {%elif review.rating == 2%}★★☆☆☆
                  {%elif review.rating == 3%}★★★☆☆
                  {%elif review.rating == 4%}★★★★☆
                  {%elif review.rating == 5%}★★★★★
                  {%endif%}
              </td>
              <td headers="date" itemprop="dateCreated">{{review.created_at|date:"d-m-Y"}}</td>
         </section>
    </tr>
    {%endfor%}
  </tbody>
    </table>
{%else%}
  Отзывы отсутствуют
{%endif%}
{% include "footer.html" %}
{% endblock %}