{% extends "base.html"%}
{% block title %}"Отель сайт"{% endblock title %}

{% block body %}
{% include "header.html" %}

<a href="/account"><button class="btn btn-secondary">Оставить отзыв</button></a>
<h2>Отзывы</h2>
{% if reviews%}
<table class="table table-hover">
  <thead>
    <tr>
      <th id="user">Пользователь</th>
      <th id="review">Отзыв</th>
      <th id="rating">Оценка</th>
      <th id="date">Дата</th>
    </tr>
  </thead>
  <tbody>
   {%for review in reviews%}
    <tr>
      <td headers="client">{{review.client}}</td>
      <td headers="data">{{review.data}}</td>
      <td headers="rating">
          {%if review.rating == 1%}★☆☆☆☆
          {%elif review.rating == 2%}★★☆☆☆
          {%elif review.rating == 3%}★★★☆☆
          {%elif review.rating == 4%}★★★★☆
          {%elif review.rating == 5%}★★★★★
          {%endif%}
      </td>
      <td headers="date">{{review.created_at|date:"d-m-Y"}}</td>
    </tr>
    {%endfor%}
  </tbody>
    </table>
{%else%}
  Отзывы отсутствуют
{%endif%}
{% include "footer.html" %}
{% endblock %}